body {
    padding-left: 11em;
    padding-top: 3em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: rgb(59, 37, 185);
    background-color: #dddf97;
}
h1 {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-shadow: 1.5px 1.5px;
}

h2,h3 {
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
p {
    background-color: rgba(0, 0, 0, 0.219);
    border-radius: 5px;
    color: white;
    text-align: center;
}
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 4.5em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}
ul.navbar a {
    text-decoration: none;
}
ul.navbarsup {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 2em;
    width: 100%;
}
ul.navbarsup li {
    display: inline;
    text-align: center;
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black;
}
ul.navbarsup a {
    text-decoration: none;
    padding: 2px 7px 2px 7px;
}
a:link {
    color: blue;
}
a:visited {
    color: blue; 
}
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}
div {
    border-radius: 5px;
    background: #ccc;
    witdh: 800px;
    height: 400px;
}
img.perfil{
    height: 390px;
    witdh: 300px;
    display: block;
    margin: auto;
}
